<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/dashboard.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/images/ico.jpg">
  <title>Dashboard</title>
</head>

<body>
  <%- include('../nav') %>


    <div class="ag-format-container">
        <div class="title">
          <h1 class="admin-title">Administrador</h1>
        </div>



      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              <div class="textIconContainer">
                <div class="iconContainer">
                  <img src="/images/graduation.jpg" alt="">
                </div>
                <div class="titleContainer">
                  <h3>Estudiantes</h3>
                </div>
              </div>

            </div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date"> Cantidad: 100 </span>
            </div>
          </a>
        </div>

        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              <div class="textIconContainer">
                <div class="iconContainer">
                  <img src="/images/training.jpg" alt="">
                </div>
                <div class="titleContainer">
                  <h3>Profesores</h3>
                </div>
              </div>

            </div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date"> Cantidad: 100 </span>
            </div>
          </a>
        </div>

        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              <div class="textIconContainer">
                <div class="iconContainer">
                  <img src="/images/setting.jpg" alt="">
                </div>
                <div class="titleContainer">
                  <h3>Admins</h3>
                </div>
              </div>
            </div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date"> Cantidad: 100 </span>
            </div>
          </a>
        </div>

        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              <div class="textIconContainer">
                <div class="iconContainer">
                  <img src="/images/group.jpg" alt="">
                </div>
                <div class="titleContainer">
                  <h3>Todos</h3>
                </div>
              </div>
            </div>

            <div class="ag-courses-item_date-box">
              <span class="ag-courses-item_date"> Cantidad: 100 </span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-cont">

      <div class="title">
        <h1 class="admin-title">Contenido</h1>
      </div>

      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, non.
          Dolores facilis in, quia impedit accusantium quas molestias expedita
          eum, laudantium obcaecati qui nobis ad, hic unde deserunt aliquid
          quis?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, non.
          Dolores facilis in, quia impedit accusantium quas molestias expedita
          eum, laudantium obcaecati qui nobis ad, hic unde deserunt aliquid
          quis?
        </p>
      </div>
    </div>

</body>

</html>