<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contenido propuesto</title>
    <link rel="stylesheet" href="/css/propuesta.css" />
  </head>
  <body>
    <%- include('nav') %>

  
    <div class="container">

      <div class="title">
        <h1>Hola, Lisa</h1>
        <h2>Propuestas recientes</h2>
      </div>

      <div class="info">
        <div class="card">
          <div class="text">
            <p>Propuesta</p>
            <h3>Carrera de Diseño de Experiencia de Usuario</h3>
            <p>por John Smith</p>
            <a href="#">Ver propuesta</a>
          </div>

          <div class="img">
            <img src="/images/contabilidad.jpg" alt="img" />
          </div>
        </div>

        <div class="card">
          <div class="text">
            <p>Propuesta</p>
            <h3>Trabajo de grado: Diseño de una aplicación de entrenamiento</h3>
            <p>por Jane Doe</p>
            <a href="#">Ver propuesta</a>
          </div>

          <div class="img">
            <img src="/images/contabilidad.jpg" alt="img" />
          </div>
        </div>

        <div class="card">
          <div class="text">
            <p>Propuesta</p>
            <h3>Carrera de Ingeniería de Software</h3>
            <p>por John Smith</p>
            <a href="#">Ver propuesta</a>
          </div>

          <div class="img">
            <img src="/images/contabilidad.jpg" alt="img" />
          </div>
        </div>

        <div class="card">
          <div class="text">
            <p>Propuesta</p>
            <h3>
              Trabajo de grado: Análisis de datos en la industria de la moda
            </h3>
            <p>por Jane Doe</p>
            <a href="#">Ver propuesta</a>
          </div>

          <div class="img">
            <img src="/images/contabilidad.jpg" alt="img" />
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
