<!DOCTYPE html>
<html lang="es">

<head>
  <!-- ... -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/css/general.css">
</head>

<body>
  <!-- ... -->
  <script>
    Swal.fire({
      title: 'Inicio de sesi칩n exitoso',
      text: 'Ser치s redirigido a la p치gina principal',
      icon: 'success',
      confirmButtonText: 'Aceptar',
      background: '#ebf5fb', // Color de fondo de la alerta
      color: '#0c5460', // Color del texto
      buttonsStyling: false, // Desactiva el estilo por defecto de los botones
      customClass: {
        confirmButton: 'btn btn-blue' // Clase personalizada para el bot칩n de confirmar
      }
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/admin/dashboard';
      }
    });
  </script>
</body>

</html>